<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8">

			<h2>Ajouter une nouvelle structure</h2>
			<br>

			<%= form_tag url_for(action: 'create'), method: "post" do %>

			<div class="form-group">
			  <%= label_tag 'Acteur, partenaire, ou les deux ?' %>
				<%= select_tag(:status, options_for_select([['Acteur', "0"], ['Partenaire', "1"], ['Acteur & Partenaire', "2"]]), {:class => "form-control"}) %>
			</div>


			<div class="form-group">
			<%= label_tag 'Nom de la structure' %>
			<%= text_field_tag 'name', "", :placeholder => "Nom de la structure", :class => "form-control" %>
			</div>

			<div class="row form-group">
			    <div class="col">
			      	<%= label_tag 'Type de structure' %>
					<%= select_tag(:structure_type_id, options_for_select(@structure_types), {:class => "form-control"}) %>
			    </div>
			   
			    <div class="col">
			      	<%= label_tag 'Classification de la structure' %>
					<%= select_tag(:structure_classification_id, options_for_select(@structure_classifications), {:class => "form-control"}) %>
			    </div>
			</div>

			<div class="row form-group">
			    <div class="col">
			      	<%= label_tag 'Actif ou non actif ?' %>
					<%= select_tag(:active, options_for_select([['Actif', true], ['Non Actif', false]]), {:class => "form-control"}) %>
			    </div>
			   
			    <div class="col">
			      	<%= label_tag 'Pour quel public ?' %>
					<%= select_tag(:public, options_for_select([["Grand public", "0"], ["Professionnel", "1"], ["Professionnel et Grand public", "2"]]), {:class => "form-control"}) %>
			    </div>
			</div>

			<div class="form-group">
			<%= check_box_tag 'association_details' %>
			<small><%= label_tag "Ajouter des détails d'association (nombre d'adhérents, objet de l'association)" %></small>
			</div>

			<div class="association_details" id="associationdetails">
				<div class="form-group">
				<%= label_tag "Nombre d'adhérents" %>
				<%= text_field_tag 'number_supporters', "", :placeholder =>"Nombre d'adhérents de l'association", :class => "form-control integeronly" %>
				</div>

				<div class="form-group">
				<%= label_tag "Objet de l'association" %>
				<%= text_area_tag 'object', "", :placeholder =>"Objet de l'association au journal officiel", :class => "form-control", :rows => "4" %>
				</div>
			</div>

			<div class="form-group">
			<%= label_tag 'Description' %>
			<%= text_area_tag 'description', "", :placeholder =>"Description de la structure", :class => "form-control", :rows => "4" %>
			</div>

			<hr>

			<div class="form-group">
			<%= label_tag 'Adresse' %>
			<%= text_field_tag 'address', "", :placeholder => "Numéro de rue et nom de rue", :class => "form-control" %>
			</div>

			<div class="row form-group">
			    <div class="col">
			      	<%= label_tag 'Code postal' %>
					<%= text_field_tag 'zip_code', "", :placeholder => "Code postal", :class => "form-control integeronly" %> 
			    </div>
			   
			    <div class="col">
			      	<%= label_tag 'Ville' %>
					<%= text_field_tag 'city', "", :placeholder => "Nom de la ville", :class => "form-control" %>
			    </div>
			</div>
			<div class="form-group">
			      	<%= label_tag 'Pays' %>
					<%= text_field_tag 'country', "", :placeholder => "Pays", :class => "form-control" %>
			</div>

			<div class="row form-group">
			    <div class="col">
			      	<%= label_tag 'Email' %>
					<%= text_field_tag 'email', "", :placeholder => "Adresse email de la structure", :class => "form-control" %> 
			    </div>
			   
			    <div class="col">
			      	<%= label_tag 'Telephone' %>
					<%= text_field_tag 'telephone', "", :placeholder => "Numéro de téléphone", :class => "form-control" %>
			    </div>
			</div>

			<hr>

			<div class="form-group">
			<%= label_tag 'Site Internet' %>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
	          		<div class="input-group-text">http://</div>
	        	</div>
				<%= text_field_tag 'website', "", :placeholder => "url.domaine", :class => "form-control" %>
			</div>
			</div>

			<div class="row form-group">
			    <div class="col">
			      	<%= label_tag 'Facebook' %>
			      	<div class="input-group mb-2">
					<div class="input-group-prepend">
		          		<div class="input-group-text">http://</div>
		        	</div>
						<%= text_field_tag 'facebook', "", :placeholder => "url.facebook", :class => "form-control" %>
					</div>
			    </div>
			   
			    <div class="col">
			      	<%= label_tag 'Twitter' %>
			      	<div class="input-group mb-2">
					<div class="input-group-prepend">
		          		<div class="input-group-text">http://</div>
		        	</div>
						<%= text_field_tag 'twitter', "", :placeholder => "url.twitter", :class => "form-control" %>
					</div>
			    </div>

			    <div class="col">
			      	<%= label_tag 'Instagram' %>
			      	<div class="input-group mb-2">
					<div class="input-group-prepend">
		          		<div class="input-group-text">http://</div>
		        	</div>
						<%= text_field_tag 'instagram', "", :placeholder => "url.instagram", :class => "form-control" %>
					</div>
			    </div>
			</div>

			<div class="row form-group">
			    <div class="col">
			      	<%= label_tag 'Année de création' %>
					<%= text_field_tag 'creation', "", :placeholder => "Année de création", :class => "form-control integeronly" %> 
			    </div>
			   
			    <div class="col">
			      	<%= label_tag "Nombre d'employés" %>
					<%= text_field_tag 'staff_number', "", :placeholder => "Nombre d'employés", :class => "form-control integeronly" %>
			    </div>
			</div>

			<hr>

			<div class="form-group">
			<%= label_tag 'Notes' %>
			<%= text_area_tag 'notes', "", :placeholder =>"Notes supplémentaires", :class => "form-control", :rows => "4" %>
			</div>

			<br>
			<%= submit_tag "Créer une nouvelle structure", :class => "btn btn-lg btn-sm btn-block btn-success" %>
			<br><br>
			<% end %>

		</div>
	</div>
</div>