<div class="container-sidebar-wrapper">

	<%= render 'layouts/sidebar_user' if !user_signed_in? %>

	<div id="content">

		<div class="row justify-content-center">

			<div class="col-xl-8 col-lg-10 col-md-12" style="margin-top: 8vh; margin-bottom: 8vh">

				<h3>Structures</h3>

				<%= form_tag url_for(action: 'index'), method: :get do %>
				<div class="form-group">
					<%= text_field_tag :search, params[:search], :placeholder => "Rechercher parmis les structures", :class => "form-control" %>
				</div>

				<div class="row form-group" style="margin-top: -6px">
					<div class="col-6">
					<%= select_tag(:structure_type_id, options_for_select(@structures_types, @selected_structures_type), :class => "custom-select my-1 mr-sm-2") %>
					</div>
					<div class="col-6">
					<%= select_tag(:structure_classification_id, options_for_select(@structures_classifications, @selected_structures_classification), :class => "custom-select my-1 mr-sm-2") %>
					</div>
				</div>

				<div class="form-group" style="margin-top: -6px">
					<%= submit_tag "Rechercher", :class => "btn btn-lg btn-sm btn-block btn-dark" %>
				</div>
				<% end %>

				<br/>
				
				<% if (params[:structure_type_id].to_i != 0 || params[:structure_classification_id].to_i != 0) || (params[:search] && params[:search] != "" && params[:search] != " ") %>
				<p class="small"><b><%= @structures.count %>
					<% if @structures.count <= 1 %>
					structure correspondant à votre recherche.
					<% else %>
					structures correspondent à votre recherche.
					<% end %>
				</b></p>
				<% else %>
				<p class="small"><b><span class="count"><%= @structures_count %></span> structures référencées sur Matière.</b></p>
				<% end %>

				<% if @structures.count > 0 %>

				<div class="card">
				  <ul class="list-group list-group-flush">
				  	<% @structures.each do |structure| %>
						<li class="list-group-item align-items-center">
							<% if structure.status == "player" %>
							<i class="fas fa-users"></i>
							<% elsif structure.status == "partner" %>
							<i class="fas fa-hands-helping"></i>
							<% else %>
							<i class="fas fa-users"></i> <i class="fas fa-hands-helping"></i>
							<% end %>
							<%= link_to structure.name, structure_path(structure.id) %>
							<br/><span class="small"><%= structure.city %> | <%= StructureType.find(structure.structure_type_id).name %> | <%= StructureClassification.find(structure.structure_classification_id).name %></span>
							<% if structure.creation != nil %>
							<span class="float-right small">créé en <%= structure.creation %></span>
							<% end %>
						</li>
					<% end %>
				  </ul>
				</div>

				<% end %>
				
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</div>
</div>

<script type="text/javascript">
	$('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>