<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8" style="margin-bottom: 5vh">

			<h2>Structures</h2><br>

			<div class="card">
			  <ul class="list-group list-group-flush">
			  	<% @structures.each do |structure| %>
					<li class="list-group-item align-items-center"><%= link_to structure.name, structure_path(structure.id) %>
						<br/><span class="small"><%= structure.city %> | <%= StructureType.find(structure.structure_type_id).name %> | <%= StructureClassification.find(structure.structure_classification_id).name %></span>
						<span class="float-right small"><%= structure.creation %></span>
					</li>
				<% end %>
			  </ul>
			</div>
			
		</div>
	</div>
</div>