<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8" style="margin-bottom: 5vh">

			<h2>Ajouter une nouvelle relation parent/enfant</h2>
			<br>

			<%= form_tag url_for(action: 'create'), method: "post" do %>

			<div class="form-group">
			  <%= label_tag 'La structure suivante' %>
				<%= select_tag(:parent, options_for_select(@structures), {:class => "form-control"}) %>
			</div>

			<br>

			<div class="form-group">
			  <%= label_tag 'Est parent de la structure suivante :' %>
				<%= select_tag(:child, options_for_select(@structures), {:class => "form-control"}) %>
			</div>

			

			<br>
			<%= submit_tag "Créer une nouvelle relation parent/enfant entre deux structures", :class => "btn btn-lg btn-sm btn-block btn-success" %>
			<br><br>
			<% end %>

			<hr>

			<h2>Relations parent/enfant entre structures</h2><br>

			<div class="card">
			  <ul class="list-group list-group-flush">
			  	<% @parent_child_relations.each do |parent_child_relation| %>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<span><%= link_to Structure.find(parent_child_relation.parent_id).name, structure_path(parent_child_relation.parent_id) %> est parent de <%= link_to Structure.find(parent_child_relation.child_id).name, structure_path(parent_child_relation.child_id) %>
						</span>
						<span>
							<%= link_to "Supprimer la relation", admin_parent_child_relation_path(parent_child_relation.id), :class => "btn btn-danger btn-sm", data: { confirm: "Êtes-vous sûr(e) ?" }, :method => "delete" %>
						</span>
					</li>
				<% end %>
			  </ul>
			</div>

		</div>
	</div>
</div>