<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8">

			<h2>Ajouter une nouvelle référence</h2>
			<br>

			<%= form_tag url_for(action: 'create'), method: "post" do %>

			<div class="form-group">
			<%= label_tag 'Type de référence' %>
			<%= select_tag(:reference_class_id, options_for_select(@reference_classes), {:class => "form-control"}) %>
			</div>

			<div class="form-group">
			<%= label_tag 'Titre' %>
			<%= text_field_tag 'title', "", :placeholder => "Titre", :class => "form-control" %>
			<br>

			<div class="row form-group">
				<div class="col">
					<%= label_tag "Prénom de l'auteur.e" %>
					<%= text_field_tag 'first_name', "", :placeholder => "Prénom", :class => "form-control" %>
				</div>
				<div class="col">
					<%= label_tag "Nom de l'auteur.e" %>
					<%= text_field_tag 'last_name', "", :placeholder => "Nom", :class => "form-control" %>
				</div>
			</div>

			<%= check_box_tag 'second_author' %>
			<small><%= label_tag "Ajouter un.e second.e auteur.e" %></small>
			<br>

			<div class="second_author" id="secondauthor">
				<div class="row form-group">
					<div class="col">
						<%= label_tag "Prénom de l'auteur.e" %>
						<%= text_field_tag 'second_first_name', "", :placeholder => "Prénom", :class => "form-control" %>
					</div>
					<div class="col">
						<%= label_tag "Nom de l'auteur.e" %>
						<%= text_field_tag 'second_last_name', "", :placeholder => "Nom", :class => "form-control" %>
					</div>
				</div>

					<%= check_box_tag 'third_author' %>
					<small><%= label_tag "Ajouter un.e troisième auteur.e" %></small>
					<br>
					
					<div class="third_author" id="thirdauthor">
						<div class="row form-group">
							<div class="col">
								<%= label_tag "Prénom de l'auteur.e" %>
								<%= text_field_tag 'third_first_name', "", :placeholder => "Prénom", :class => "form-control" %>
							</div>
							<div class="col">
								<%= label_tag "Nom de l'auteur.e" %>
								<%= text_field_tag 'third_last_name', "", :placeholder => "Nom", :class => "form-control" %>
							</div>
						</div>

						<%= check_box_tag 'fourth_author' %>
						<small><%= label_tag "Ajouter un.e quatrième auteur.e" %></small>
						<br>
						
						<div class="fourth_author" id="fourthauthor">
							<div class="row form-group">
								<div class="col">
									<%= label_tag "Prénom de l'auteur.e" %>
									<%= text_field_tag 'fourth_first_name', "", :placeholder => "Prénom", :class => "form-control" %>
								</div>
								<div class="col">
									<%= label_tag "Nom de l'auteur.e" %>
									<%= text_field_tag 'fourth_last_name', "", :placeholder => "Nom", :class => "form-control" %>
								</div>
							</div>
						</div>
					</div>
			</div>
			<br>

			<%= label_tag "Année de publication" %>
			<%= text_field_tag 'year', "", :placeholder => "Année", :class => "form-control" %>
			<br>

			<%= label_tag "Éditeur" %>
			<%= text_field_tag 'editor', "", :placeholder => "Éditeur", :class => "form-control" %>
			<br>

			<div class="row form-group">
				<div class="col">
					<%= label_tag "Ville" %>
					<%= text_field_tag 'city', "", :placeholder => "Ville", :class => "form-control" %>
				</div>
				<div class="col">
					<%= label_tag "Pays" %>
					<%= text_field_tag 'country', "", :placeholder => "Pays", :class => "form-control" %>
				</div>
			</div>

			<%= label_tag "Lien" %>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
	          		<div class="input-group-text">http://</div>
	        	</div>
				<%= text_field_tag 'link', "", :placeholder => "url.domaine", :class => "form-control" %>
			</div>
			<br>

			<%= label_tag 'Résumé' %>
			<%= text_area_tag 'summary', "", :placeholder =>"Résumé de la référence", :class => "form-control", :rows => "4" %>
			<br>

			<%= label_tag 'Notes' %>
			<%= text_area_tag 'notes', "", :placeholder =>"Notes supplémentaires", :class => "form-control", :rows => "4" %>
			</div>

			<br>
			<%= submit_tag "Créer une nouvelle référence", :class => "btn btn-lg btn-sm btn-block btn-success" %>
			<br><br>
			<% end %>

		</div>
	</div>
</div>