<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8" style="margin-bottom: 5vh">

			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title"><b><%= @reference.title %></b></h5>
			   
			  </div>
			  <ul class="list-group list-group-flush">
			  	<li class="list-group-item"><b>Auteur.e.s</b> : <%= @reference.authors_array.join(', ') %></li>
			  	<li class="list-group-item"><b>Année</b> : <%= @reference.year %></li>
			  	<li class="list-group-item"><b>Éditeur</b> : <%= @reference.editor.capitalize %> </li>
			  	<li class="list-group-item"><b>Ville</b> : <%= @reference.city.capitalize %> </li>
			  	<li class="list-group-item"><b>PAYS</b> : <%= @reference.country.upcase %> </li>
			  	<li class="list-group-item"><b>Lien</b> : <a href="<%= @reference.link %>" target="_blank"> <%= @reference.link %> </a></li>
			  	<li class="list-group-item"><b>Résumé</b> : <%= @reference.summary %></li>
			  </ul>
			</div>

			<% if @reference.notes != "" %>
			<div class="card" style="margin-top: 30px">
				<div class="card-body">
					<h5 class="card-title"><b>Notes</b></h5>
					<p><%= @reference.notes %></p>
				</div>
			</div>
			<% end %>

			<div class="float-right" style="margin-top: 30px">
				<%= link_to "Éditer", edit_admin_reference_path(@reference.id), :class => "btn btn-warning" %> &nbsp;
				<%= link_to "Supprimer", admin_reference_path(@reference.id), :class => "btn btn-danger", data: { confirm: "Êtes-vous sûr(e) ?" }, :method => "delete" %>
			</div>

		</div>
	</div>
</div>