<div class="container-sidebar-wrapper">

	<%= render 'layouts/sidebar_user' if !user_signed_in? %>

	<div id="content">

		<div class="row justify-content-center">

			<div class="col-xl-8 col-lg-10 col-md-12" style="margin-top: 8vh; margin-bottom: 8vh">

				<h2 class="text-center"><span class="count"><%= @partners.count %></span> Partenaires référencés sur Matière</h2><br>

				<div class="card">
				  <ul class="list-group list-group-flush">
				  	<% @partners.each do |partner| %>
						<li class="list-group-item align-items-center">
							<i class="fas fa-handshake"></i>
							<%= link_to partner.name, partner.website, target: "_blank" %>
							<br/><span class="small">Soutient 
								<%= partner.structures.count %> 
								<% if partner.structures.count <= 1 %> structure
								<% else %> structures
								<% end %>
								|
								Soutient
								<%= partner.projects.count %> 
								<% if partner.projects.count <= 1 %> projet
								<% else %> projets
								<% end %>
								</span>
						</li>
					<% end %>
				  </ul>
				</div>
				
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
  </script>