<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8">

			<h2>Editer une entrée de personne</h2>
			<br>

			<%= form_tag url_for(action: 'update'), method: "put" do %>

			<div class="row form-group">
				<div class="col">
					<%= label_tag 'Prénom' %>
					<%= text_field_tag 'first_name', @individual.first_name, :class => "form-control" %>
				</div>
				<div class="col">
					<%= label_tag 'Nom' %>
					<%= text_field_tag 'last_name', @individual.last_name, :class => "form-control" %>
				</div>
			</div>

			<div class="row form-group">
				<div class="col">
					<%= label_tag 'Email' %>
					<%= text_field_tag 'email', @individual.email, :class => "form-control" %>
				</div>
				<div class="col">
					<%= label_tag 'Téléphone' %>
					<%= text_field_tag 'telephone', @individual.telephone, :class => "form-control integeronly" %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag 'LinkedIn' %>
				<div class="input-group mb-2">
				<div class="input-group-prepend">
	          		<div class="input-group-text">http://</div>
	        	</div>
					<%= text_field_tag 'linkedin',  @individual.linkedin[7..-1], :class => "form-control" %>
				</div>
			</div>

			<% if @individual.structures != [] %>
			<div class="form-group">
				<%= label_tag 'Appartient à la structure' %>
				<%= select_tag(:structure_id, options_for_select(@structures, @selected_structures[0]), {:class => "form-control"}) %>
			</div>
			<% if @individual.structures.count == 1 %>
			<div class="form-group">
				<%= label_tag 'Appartient également à la structure' %>
				<%= select_tag(:structure_2_id, options_for_select(@structures), {:class => "form-control"}) %>
			</div>
			<% end %>
				<% if @individual.structures.count == 2 %>
					<div class="form-group">
						<%= label_tag 'Appartient également à la structure' %>
						<%= select_tag(:structure_2_id, options_for_select(@structures, @selected_structures[1]), {:class => "form-control"}) %>
					</div>
				<% end %> 
			<% end %>

			<% if @individual.structures == [] %>
			<%= label_tag 'Appartient à la structure' %>
			<%= select_tag(:structure_id, options_for_select(@structures), {:class => "form-control"}) %>
			<% end %>

			<br>
			<%= submit_tag "Editer une entrée de personne", :class => "btn btn-lg btn-sm btn-block btn-success" %>
			<br><br>
			<% end %>

		</div>
	</div>
</div>