<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8">

			<h2>Ajouter une nouvelle personne</h2>
			<br>

			<%= form_tag url_for(action: 'create'), method: "post" do %>

			<div class="row form-group">
				<div class="col">
					<%= label_tag 'Prénom' %>
					<%= text_field_tag 'first_name', "", :placeholder => "Prénom", :class => "form-control" %>
				</div>
				<div class="col">
					<%= label_tag 'Nom' %>
					<%= text_field_tag 'last_name', "", :placeholder => "Nom", :class => "form-control" %>
				</div>
			</div>

			<div class="row form-group">
				<div class="col">
					<%= label_tag 'Email' %>
					<%= text_field_tag 'email', "", :placeholder => "Adresse email", :class => "form-control" %>
				</div>
				<div class="col">
					<%= label_tag 'Téléphone' %>
					<%= text_field_tag 'telephone', "", :placeholder => "Numéro de téléphone", :class => "form-control integeronly" %>
				</div>
			</div>

			<div class="form-group">
				<%= label_tag 'Profession' %>
				<%= text_field_tag 'profession', "", :placeholder => "Profession", :class => "form-control" %>
			</div>

			<div class="form-group">
				<%= label_tag 'LinkedIn' %>
				<div class="input-group mb-2">
				<div class="input-group-prepend">
	          		<div class="input-group-text">http://</div>
	        	</div>
					<%= text_field_tag 'linkedin', "", :placeholder => "url.linkedin", :class => "form-control" %>
				</div>
			</div>

			<div class="form-group">
			<%= label_tag 'Appartient à la structure' %>
			<%= select_tag(:structure_id, options_for_select(@structures), {:class => "form-control"}) %>
			</div>

			<%= check_box_tag 'second_structure' %>
			<small><%= label_tag "Ajouter une seconde structure" %></small>

			<div class="second_structure" id="secondstructure">
				<div class="form-group">
				<%= label_tag 'Appartient également à la structure' %>
				<%= select_tag(:structure_2_id, options_for_select(@structures), {:class => "form-control"}) %>
				</div>
			</div>

			<br>
			<hr>
			<div class="form-group">
				<%= label_tag 'Notes' %>
				<%= text_area_tag 'notes', "", :placeholder => "Notes supplémentaires", :class => "form-control", :rows => "4" %>
			</div>

			<br><br>
			<%= submit_tag "Créer une nouvelle personne", :class => "btn btn-lg btn-sm btn-block btn-success" %>
			<br><br>
			<% end %>

		</div>
	</div>
</div>