<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8" style="margin-bottom: 5vh">

			<h2>Ajouter un nouveau type de structure</h2>
			<br>

			<%= form_tag url_for(action: 'create'), method: "post" do %>

			<div class="form-group">
			<%= label_tag 'Nom du type de structure' %>
			<%= text_field_tag 'name', "", :placeholder => "Nom du type de structure", :class => "form-control" %>
			</div>

			<br>
			<%= submit_tag "Créer un nouveau type de structure", :class => "btn btn-lg btn-sm btn-block btn-success" %>
			<br><br>
			<% end %>

			<hr/>

			<h2>Types de structures</h2>
			<br>

			<div class="card">
			  <ul class="list-group list-group-flush">
			  	<% @structure_types.each do |structure_type| %>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<span><%= structure_type.name %>
						</span>
						<span>
							<%= link_to "Éditer", edit_admin_structure_type_path(structure_type.id), :class => "btn btn-warning btn-sm" %>

							<%= link_to "X", admin_structure_type_path(structure_type.id), :class => "btn btn-danger btn-sm", data: { confirm: "Attention ! Supprimer un type de catégorie va entraîner la suppression des structures catégorisées selon ce type. Êtes-vous sûr(e) de vouloir continuer cette action ?" }, :method => "delete" %>
						</span>
					</li>
				<% end %>
			  </ul>
			</div>

		</div>
	</div>
</div>