<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8" style="margin-bottom: 5vh">

			<h2>Projets (<span class="count"><%= @projects.count %></span>)</h2><br>

			<div id="mapid" class="card" style="height: 600px">
			 </div>

			<div class="card" style="margin-top: 30px">
			  <ul class="list-group list-group-flush">
			  	<% @projects.each do |project| %>
					<li class="list-group-item align-items-center">
						<i class="fas fa-home"></i>
						<%= link_to project.title, admin_project_path(project.id) %>
						<br/><span class="small">de <%= project.structures_array.join(", ") %> | <%= project.city %> | <%= project.status_fr %></span>
						<span class="float-right small"><%= project.year %></span>
					</li>
				<% end %>
			  </ul>
			</div>
			
		</div>
	</div>
</div>


<script type="text/javascript">
	$('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
    
	var map = L.map('mapid').setView([46.803178243429265,2.735502332685428], 6);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
	attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	tileSize: 512,
	maxZoom: 18,
	zoomOffset: -1,
	id: 'mapbox/light-v10',
	accessToken: 'pk.eyJ1IjoiYXZuZDI2IiwiYSI6ImNqdXUwamMwNTBjcDA0YW52ODM1Nnp5OW4ifQ.X2B60gqbpNhbYZvIkhsZRg'
	}).addTo(map);

	<% @projects.each do |project| %>

		var <%= "marker" + project.id.to_s %> = L.marker([<%= project.lat.to_s + ", " + project.lng.to_s %>]).addTo(mymap);

		var <%= "container" + project.id.to_s %> = $('<div />');

		<%= "container" + project.id.to_s %>.on('click', '.smallPolygonLink', function() {});

		<%= "container" + project.id.to_s %>.html("<a href='<%= project_path(project.id) %>' class='smallPolygonLink'><%= project.title %></a><br/>");
		<%= "container" + project.id.to_s %>.append($('<span class="bold">').text(" <%= project.city %> "))

		<%= "marker" + project.id.to_s %>.bindPopup(<%= "container" + project.id.to_s %>[0]);
	<% end %>

  </script>