<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8">

			<h2>Ajouter une nouvelle structure</h2>
			<br>

			<%= form_tag url_for(action: 'create'), method: "post" do %>


			<div class="form-group">
			<%= label_tag 'Titre du projet' %>
			<%= text_field_tag 'title', "", :placeholder => "Titre du projet", :class => "form-control" %>
			</div>

			<hr>

			<div class="form-group">
			<%= label_tag 'Classification de projet' %>
			<%= select_tag(:project_class_id, options_for_select(@project_classes), {:class => "form-control"}) %>
			</div>

			<%= check_box_tag 'second_class' %>
			<small><%= label_tag "Ajouter une seconde classification" %></small>
			<br>

			<div class="second_class" id="secondclass">
				<div class="form-group">
					<%= label_tag 'Seconde classification de projet' %>
					<%= select_tag(:second_project_class_id, options_for_select(@project_classes), {:class => "form-control"}) %>
				</div>

				<%= check_box_tag 'third_class' %>
				<small><%= label_tag "Ajouter une troisième classification" %></small>
				<br>

				<div class="third_class" id="thirdclass">
					<div class="form-group">
						<%= label_tag 'Troisième classification de projet' %>
						<%= select_tag(:third_project_class_id, options_for_select(@project_classes), {:class => "form-control"}) %>
					</div>
				</div>

			</div>

			<hr>
			<%= check_box_tag 'add_partner' %>
			<small><%= label_tag "Ajouter un partenaire" %></small>

			<div class="add_partner" id="addpartner">
				<div class="form-group">
				<%= label_tag 'Partenaire du projet' %>
				<%= select_tag(:partner_id, options_for_select(@partners), {:class => "form-control"}) %>
				</div>

				<%= check_box_tag 'second_partner' %>
				<small><%= label_tag "Ajouter un second partenaire" %></small>

				<div class="second_partner" id="secondpartner">
					<div class="form-group">
					<%= label_tag 'Second partenaire du projet' %>
					<%= select_tag(:second_partner_id, options_for_select(@partners), {:class => "form-control"}) %>
					</div>
				</div>		

			</div>
			<hr>

			<div class="form-group">
			<%= label_tag 'Description' %>
			<%= text_area_tag 'description', "", :placeholder =>"Description du projet", :class => "form-control", :rows => "4" %>
			</div>

			<div class="form-group">
			<%= label_tag 'Site Internet' %>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
	          		<div class="input-group-text">http://</div>
	        	</div>
				<%= text_field_tag 'website', "", :placeholder => "url.domaine", :class => "form-control" %>
			</div>
			</div>

			<div class="form-group">
				<%= label_tag 'Année' %>
				<%= text_field_tag 'year', "", :placeholder => "Année", :class => "form-control integeronly" %> 
			</div>

			<div class="form-group">
			  <%= label_tag 'Statut du projet' %>
				<%= select_tag(:status, options_for_select([['Réalisé', "0"], ['En cours', "1"], ['À venir', "2"]]), {:class => "form-control"}) %>
			</div>

			<hr>

			<div class="form-group">
			<%= label_tag 'Adresse' %>
			<%= text_field_tag 'address', "", :placeholder => "Numéro de rue et nom de rue", :class => "form-control" %>
			</div>

			<div class="row form-group">
			    <div class="col">
			      	<%= label_tag 'Code postal' %>
					<%= text_field_tag 'zip_code', "", :placeholder => "Code postal", :class => "form-control integeronly" %> 
			    </div>
			   
			    <div class="col">
			      	<%= label_tag 'Ville' %>
					<%= text_field_tag 'city', "", :placeholder => "Nom de la ville", :class => "form-control" %>
			    </div>
			</div>
			<div class="form-group">
			      	<%= label_tag 'Pays' %>
					<%= text_field_tag 'country', "", :placeholder => "Pays", :class => "form-control" %>
			</div>

			<hr>

			<div class="form-group">
			<%= label_tag 'Notes' %>
			<%= text_area_tag 'notes', "", :placeholder =>"Notes supplémentaires", :class => "form-control", :rows => "4" %>
			</div>

			<br>
			<%= submit_tag "Créer un nouveau projet", :class => "btn btn-lg btn-sm btn-block btn-success" %>
			<br><br>
			<% end %>

		</div>
	</div>
</div>