<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8" style="margin-bottom: 5vh">

			<div class="card">
			  <div class="card-body">
			    <h2 class="card-title"><b><%= @project.title %></b></h2>
			    <h5>Un projet de
			    	<% k = 1 %>
			    	<% @project.structures.each do |structure| %>
			    	<%= link_to structure.name, structure_path(structure.id) %><% if @project.structures.count > 1 && k != @project.structures.count %>, <% end %>
			    	<% k += 1 %>
			    	<% end %>
			    </h5>
					<span class="badge badge-light"><%= @project.status_fr %></span><br/>
					<% @project.project_classes.each do |project_class| %>
					<span class="badge badge-info"><%= project_class.name %></span> 
					<% end %>
					<% if @project.year != nil %>
			   		<span class="float-right"><b>Année de livraison</b> : <%= @project.year %></span>
			   	<% end %>
			  </div>

			  <ul class="list-group list-group-flush">
			  	<li class="list-group-item"><b>Description</b> : 
			  		<% if @project.description != "" %>
			  		<%= break_the_lines(@project.description) %>
			  		<% else %>
			  		<i>non informée</i>
			  		<% end %>
			  	</li>
			  	<% if @project.address != "" %>
			    <li class="list-group-item"><b>Adresse</b> : <%= @project.full_address %></li>
			    <% end %>

			    <li class="list-group-item"><b>Site internet</b> : 
			    	<% if @project.website != "http://" %>
			    	<a href="<%= @project.website %>"><%= @project.website %></a>
			    	<% else %>
			    	<i>non informé</i>
			    	<% end %>
			    </li>
			    
			    <% if @project.partners != [] %>
			    	<li class="list-group-item">
				    	<% if @project.partners.count == 1 %>
				    	<b>Partenaire du projet</b> :
				    	<% else %>
				    	<b>Partenaires du projet</b> :
				    	<% end %>
				    		<% i = 1 %>
				    		<% @project.partners.each do |partner| %>
				    			<%= link_to partner.name, partner.website, target: "_blank" %><% if @project.partners.count > 1 && i != @project.partners.count %>, <% end %>
				    			<% i += 1 %>
				    		<% end %>
				    </li>
			    <% end %>
			    
			  </ul>
			</div>


			<div id="mapid" class="card" style="height: 500px; margin-top: 30px">
			 </div>


			<% if user_signed_in? && current_user.admin == true %>

			<% if @project.notes != "" %>
			<div class="card" style="margin-top: 30px">
				<div class="card-body">
					<h5 class="card-title">Notes</h5>
					<p><%= break_the_lines(@project.notes) %></p>
				</div>
			</div>
			<% end %>

			<div class="float-right" style="margin-top: 30px">
				<%= link_to "Éditer", edit_admin_project_path(@project.id), :class => "btn btn-warning" %> &nbsp;
				<%= link_to "Supprimer", admin_project_path(@project.id), :class => "btn btn-danger", data: { confirm: "Êtes-vous sûr(e) ?" }, :method => "delete" %>
			</div>

			<% end %>

		</div>
	</div>
</div>

<script type="text/javascript">
	var mymap = L.map('mapid').setView([<%= @project.lat.to_s + ", " + @project.lng.to_s %>], 14);
	var marker = L.marker([<%= @project.lat.to_s + ", " + @project.lng.to_s %>]).addTo(mymap);

	marker.bindPopup("<b><%= @project.title %></b><br/><%= @project.full_address %>").openPopup();

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
	attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	tileSize: 512,
	maxZoom: 18,
	zoomOffset: -1,
	id: 'mapbox/light-v10',
	accessToken: 'pk.eyJ1IjoiYXZuZDI2IiwiYSI6ImNqdXUwamMwNTBjcDA0YW52ODM1Nnp5OW4ifQ.X2B60gqbpNhbYZvIkhsZRg'
	}).addTo(mymap);
  </script>