<div class="container-sidebar-wrapper">

	<%= render 'layouts/sidebar_user' if !user_signed_in? %>

	<div id="content">

		<div class="row justify-content-center">

			<div class="col-xl-8 col-lg-10 col-md-12" style="margin-top: 8vh; margin-bottom: 8vh">

				<h3>Projets</h3>

				<%= form_tag url_for(action: 'index'), method: :get do %>
				<div class="form-group">
					<%= text_field_tag :search, params[:search], :placeholder => "Rechercher parmi les projets", :class => "form-control" %>
				</div>

				<div class="form-group" style="margin-top: -6px">
					<%= select_tag(:project_class_id, options_for_select(@project_classes, @selected_project_class), :class => "custom-select my-1 mr-sm-2") %>
				</div>

				<div class="form-group" style="margin-top: -6px">
					<%= submit_tag "Rechercher", :class => "btn btn-lg btn-sm btn-block btn-dark" %>
				</div>
				<% end %>

				<br/>

				<% if params[:project_class_id].to_i != 0 || (params[:search] && params[:search] != "" && params[:search] != " ") %>
				<p class="small"><b><%= @projects.count %>
					<% if @projects.count <= 1 %>
					projet correspondant à votre recherche.
					<% else %>
					projets correspondent à votre recherche.
					<% end %>
				</b></p>
				<% else %>
				<p class="small"><b><span class="count"><%= @projects_count %></span> projets référencés sur Matière.</b></p>
				<% end %>

				<% if @projects.count > 0 %>

				<div class="card">
				  <ul class="list-group list-group-flush">
				  	<% @projects.each do |project| %>
						<li class="list-group-item align-items-center">
							<i class="fas fa-home"></i>
							<%= link_to project.title, project_path(project.id) %>
							<br/><span class="small">de <%= project.structures_array.join(", ") %> | <%= project.city %> | <%= project.status_fr %></span>
							<span class="float-right small"><%= project.year %></span>
						</li>
					<% end %>
				  </ul>
				</div>

				<% end %>
				
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</div>
</div>

<script type="text/javascript">
	$('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
  </script>