<div class="container-sidebar-wrapper">

	<%= render 'layouts/sidebar_user' if !user_signed_in? %>

<div id="map-content">
		<div id="mapid" style="height: 100vh; width: 100%;">
		</div>
</div>

</div>

<script type="text/javascript">
    
	var mymap = L.map('mapid').setView([46.803178243429265,2.735502332685428], 6);
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.light',
    accessToken: 'pk.eyJ1IjoiYXZuZDI2IiwiYSI6ImNqdXUwamMwNTBjcDA0YW52ODM1Nnp5OW4ifQ.X2B60gqbpNhbYZvIkhsZRg'
	}).addTo(mymap);

	<% @projects.each do |project| %>

		var <%= "marker" + project.id.to_s %> = L.marker([<%= project.lat.to_s + ", " + project.lng.to_s %>]).addTo(mymap);

		var <%= "container" + project.id.to_s %> = $('<div />');

		<%= "container" + project.id.to_s %>.on('click', '.smallPolygonLink', function() {});

		<%= "container" + project.id.to_s %>.html("<a href='<%= project_path(project.id) %>' class='smallPolygonLink'><%= project.title %></a><br/>");
		<%= "container" + project.id.to_s %>.append($('<span class="bold">').text(" <%= project.city %> "))

		<%= "marker" + project.id.to_s %>.bindPopup(<%= "container" + project.id.to_s %>[0]);
	<% end %>

  </script>