<div class="container-sidebar-wrapper">

	<%= render 'layouts/sidebar_user' if !user_signed_in? %>

	<div id="content">

		<div class="row justify-content-center">

			<div class="col-xl-8 col-lg-10 col-md-12" style="margin-top: 8vh; margin-bottom: 8vh">

			<h2 class="text-center">Références bibliographiques</h2>
			<br>

			<div class="card">
			  <ul class="list-group list-group-flush">
			  	<% @references.each do |reference| %>
					<li class="list-group-item align-items-center">
						<i class="fas fa-bookmark"></i>
						<%= link_to reference.title, reference_path(reference.id) %>
						<br/><span class="small"><%= reference.reference_class.name %> | <%= reference.authors_array.join(', ') %></span>
						<span class="float-right small"><%= reference.year %></span>
					</li>
				<% end %>
			  </ul>
			</div>
		</div>
	</div>
</div>
</div>